@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 0px) and (max-width:650px) {
    main{
        width: 450px;
        height: 80vh;
        transition: width 0.3s, height 0.5s;
        transition-timing-function: ease;
       
        
    }

    #formulario {
        height: 60%;
        width: 100%;
        margin-top: 301px;
    }
    #imagem{
        width: 385px;
        
    }
    
}

@media screen and (min-width: 651px) and (max-width:1920px) {
    main{
        min-width: 900px;
    }
    
}